<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Document sans titre</title>
    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <!-- Plugin CSS -->
    <link href="../public/vendor/magnific-popup/jquery.magnific-popup.js" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="../public/css/freelancer.min.css" rel="stylesheet">


    <link href="../public/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/css/modern-business.css" rel="stylesheet">
</head>
<body>
<div>
    {% for type, flashs in flashbag() %}
        {% for flash in flashs %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">Jean FORTEROCHE </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="chapitres">Chapitres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="autobiographie">Autobiographie</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
{% block body %}

{% endblock %}
<link href="../public/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="../public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<!-- Plugin CSS -->
<link href="../public/vendor/magnific-popup/jquery.magnific-popup.js" rel="stylesheet" type="text/css">
<!-- Custom styles for this template -->
<link href="../public/css/freelancer.min.css" rel="stylesheet">
</body>
</html>
