
{% block body %}

    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto" src="#" alt="">
            <h1 class="text-uppercase mb-0">Jean FORTROCHE</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Ecrivain du monde qui nous entoure !</h2>
        </div>
    </header>
    <!-- autobiographie -->
    <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">autobiographie</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="">
                    <p class="">,skoqksnoqdnsoqndoqsndoqndojnojcxnl,coqnoscnoqnxcnjonoqncojnqoclqnosinoqnqcljnqocnoqncxoqnnqoknxl,xnojcnoacjbàinoboubobojbxocojqcojqlxcqock obq kbob vkqcbob kvlqoqk vdqjn kqnlnoi^njbk jcijqnjk nsconk nnoskcno sknnoskcnoa knoc knoksnoknknoknoknkno k,skoqksnoqdnsoqndoqsndoqndojnojcxnl,coqnoscnoqnxcnjonoqncojnqoclqnosinoqnqcljnqocnoqncxoqnnqoknxl,xnojcnoacjbàinoboubobojbxocojqcojqlxcqock obq kbob vkqcbob kvlqoqk vdqjn kqnlnoi^njbk jcijqnjk nsconk nnoskcno sknnoskcnoa knoc knoksnoknknoknoknkno k,skoqksnoqdnsoqndoqsndoqndojnojcxnl,coqnoscnoqnxcnjonoqncojnqoclqnosinoqnqcljnqocnoqncxoqnnqoknxl,xnojcnoacjbàinoboubobojbxocojqcojqlxcqock obq kbob vkqcbob kvlqoqk vdqjn kqnlnoi^njbk jcijqnjk nsconk nnoskcno sknnoskcnoa knoc knoksnoknknoknoknkno k,skoqksnoqdnsoqndoqsndoqndojnojcxnl,coqnoscnoqnxcnjonoqncojnqoclqnosinoqnqcljnqocnoqncxoqnnqoknxl,xnojcnoacjbàinoboubobojbxocojqcojqlxcqock obq kbob vkqcbob kvlqoqk vdqjn kqnlnoi^njbk jcijqnjk nsconk nnoskcno sknnoskcnoa knoc knoksnoknknoknoknkno k,skoqksnoqdnsoqndoqsndoqndojnojcxnl,coqnoscnoqnxcnjonoqncojnqoclqnosinoqnqcljnqocnoqncxoqnnqoknxl,xnojcnoacjbàinoboubobojbxocojqcojqlxcqock obq kbob vkqcbob kvlqoqk vdqjn kqnlnoi^njbk jcijqnjk nsconk nnoskcno sknnoskcnoa knoc knoksnoknknoknoknkno k</p>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

