
{% block body %}

    <h1> Voila est la home page </h1>

        <h2>Acceuil : </h2>

    <a href="?uri=autobiographie";>Autobiographie:</a>
    <br>
    <br>
    <br>
    <a href="?uri=chapitres">Chapitres :</a>
    <br>
    <br>
    <br>
    <a href="?uri=connection">Connection:</a>
    <br>
    <br>
    <br>
    <a href="?uri=administration">administration:</a>
    <br>
    <br>
    <br>
    <a href="?uri=messages">Messages:</a>
    <br>
    <br>
    <br>
    <a href="?uri=chapitresAdmin">Liste chapitres:</a>
    <br>
    <br>
    <br>
    <a href="?uri=newPost">Nouveau Chapitre:</a>



{% endblock %}