{% extends "base.html.twig" %}

{% block body %}





    <!-- Page Heading/Breadcrumbs -->
    <div class="container-fluid">
        <div>
            <h1 class="mt-4 mb-3 text-center">ACCUEIL </h1>
        </div>
        <div class="row">
            {% for post in posts %}

                <div class="col-lg-8 portfolio-item" id="cardsHP">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title"><a>{{ post.title }}</a></h4>
                            <span> {{ post.createdAt | date("d/m/Y") }} </span>
                            <br/>
                            <br/>
                            <p class="card-text"> {{ post.content | raw }} </p>
                            <a class="btn btn-primary" href="?uri=chapitre&id={{ post.id }}">lire la suite</a>
                        </div>
                    </div>
                </div>


            {% endfor %}
            <div class="col-lg-12" id="btnTPS">
                <a class="btn-secondary" href="?uri=chapitres"> Tous les chapitres </a>
            </div>
        </div>
    </div>
    {#    <h1> Voila est la home page </h1>#}

    {#        <h2>Acceuil : </h2>#}

    {#    <a href="?uri=autobiographie";>Autobiographie:</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=chapitres">Chapitres :</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=contact">Contact :</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=connection">Connection:</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=administration">administration:</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=messages">Messages:</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=chapitresAdmin">Liste chapitres:</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=newPost">Nouveau Chapitre:</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=listComments">Liste des commentaires:</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=error404">Error 404:</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <a href="?uri=error504">Error504:</a>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}



{% endblock %}