{% extends "baseadministration.html.twig" %}
{% block body %}


    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="?uri=administration">Administration :</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="?uri=administration">
            <i class="fas fa-bars"></i>
        </button>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="?uri=administration">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="?uri=chapitresAdmin">Post :</a>
                    <a class="dropdown-item" href="?uri=newPost">New Post :</a>
                    <a class="dropdown-item" href="?uri=listComments">Commentaires :</a>
                </div>
            </li>
        </ul>
        <div class="container">
            <form method="post">
                <div class="form-group">
                    <label for="post_title">Titre</label>
                    <input value="{{ form.getData('title') | default (post.title) }}" name="title" type="text"
                           class="form-control" id="post_title" placeholder="Titre">
                    {% if form.hasErrors('title') %}
                        <div class="text-danger">Votre titre n'est pas valide !</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="post_content">Article</label>
                    <textarea name="content" class="form-control" id="post_content"
                              placeholder="Article">{{ form.getData('content') | default (post.content) }}</textarea>
                    {% if form.hasErrors('content') %}
                        <div class="text-danger">Votre titre n'est pas valide !</div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Poster</button>
                <a href="?uri=chapitresAdmin" id="btnNP" class="btn btn-danger col-lg-4"> &lt;- Returner vers la
                    liste </a>
            </form>
        </div>
    </div>

{% endblock %}