{% extends "baseadministration.html.twig" %}
{% block body %}


    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id:</th>
                    <th>Titre:</th>
                    <th>Date:</th>
                    <th>Actions:</th>
                </tr>
                </thead>


                {% for post in posts %}
                    <form method="post">
                        <div class="form-group">
                            <tr>
                                <td><label value="{{ form.getData('id') }}" name="id" class="form-control"
                                           id="post_id" for="post_id">{{ post.id }}</label></td>
                                <td>{{ post.title }}</td>
                                <td> {{ post.createdAt }}  </td>
                                <td>
                                    <button type="buton" class="btn btn-primary">Lire</button>
                                    <button type="buton" class="btn btn-success">Editer</button>
                                    <button type="submit" class="btn btn-danger">Suprimer</button>
                                </td>
                            </tr>
                        </div>
                    </form>
                {% endfor %}


            </table>
        </div>
    </div>
{% endblock %}

