{% extends "base.html.twig" %}
{% block body %}

    <main>
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Chapitres
            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="?uri=homepage">Accueil</a>
                </li>
                <li class="breadcrumb-item active">Chapitres</li>
            </ol>
            <div class="row">
                {% for post in posts %}
                    <div class="col-lg-3 card-body">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a> {{ post.title }} </a>
                                </h4>
                                <button type="button" class="btn btn-primary">voir plus</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </main>

{% endblock %}

